/* STATS STUFF */

* { 
  margin: 0;
  padding: 5px 10px;
  box-sizing: border-box;
}

h1,h2 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(255, 229, 173)
}

h1 {
  font-size: 3em;
  text-align: left;
}

h2 {
  text-align: left;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
  min-height: 100vh;
  background-color:rgb(158, 127, 89);
  color:rgb(33, 26, 22);
}

.top-boxes {
  display: flex;
  padding: 2px;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0px;
}

.image-box {
  flex-basis: 33.33%;
  border: 5px solid #48773d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #789d6f;
}

.image-title {
  background-color: #48773d;
  color: #a6e298;
  padding: 10px;
  text-align: center;
  height: 18%;
  box-sizing: border-box;
  font-size: 2.5em;
  width: 100%;
}

#excadrill {
  max-width: 100%;
  max-height: 80%;
  height: auto;
  width: 80%;
}

.stats-box {
  flex-basis: 66.67%;  
  border: 5px solid #48773d;
  padding: 5px 10px;  
  background-color: #789d6f;
  font-size: 40px;
  color: #bdf5b0;
  font-size: 60px;
}

.stat-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-name {
  flex: 0 0 auto;
}

.stat-number {
  flex: 0 0 auto;
}

.dots {
  flex-grow: 1;
  margin: 0 10px;
  border-bottom: 5px dotted #bdf5b0;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.bottom-box {
  display: flex;
  justify-content: center;
  width: 100%; 
  color: #bdf5b0;
  margin-top: 0px;
  padding: 2px;
}

.more-stats {
  width: 100%; 
  background-color: #789d6f;
  padding: 5px;
  font-size: 60px;
  text-align: center;
  border: 5px solid #48773d;
  box-sizing: border-box;
  height: 80px;
  margin-top: 3px;
  display: flex;            
  align-items: center;
}

.extra-commands{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
.word {
  text-align: center;
}

/* TERMINAL STUFF */

#output-container {
  margin-bottom: 0px;
}
#input-wrapper {
  display: flex;
  align-items: center;
  margin-top: 0px;
}
#prompt {
  white-space: nowrap;
  font-size: 30px;
}
#visible-input {
  white-space: nowrap;
  min-width: 1px;
  font-size: 30px;
}
#myInput {
  opacity: 0;
  position: absolute;
  font-size: 30px;
}
.command-output {
  margin-bottom: 0px;
  font-size: 30px;
}

.blinking-cursor {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #f0f0f0;
  margin-left: 5px;
  animation: blink 0.75s step-end infinite;
}
@keyframes blink {
  from, to { background-color: transparent; }
  50% { background-color: #f0f0f0; }
}
